#box{
    height: 400px;
    width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    background-color: rgb(205, 168, 216);
}
#Login{
    text-align: center;
    color: rgb(56, 53, 53);
    font-style: italic;
    font-size: 35px;
}
#a{
    text-align: center;
}
#a1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#username{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
   
}


#b{
    text-align: center;
    margin-top: 20px;
}
#b1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#password{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}


#c{
    text-align: center;
    margin-top: 40px;
}

#c1{
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
}